<%= form_with(model: event, local: true) do |f|%>
  <%= render "shared/errors", object: event %>

  <div class="card p-3 pb-5">
    <div>
      <%= f.label :name%>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
      <%= f.label :description%>
      <%= f.text_area :description, row: 5 %>
    </div>
    <div>
      <%= f.label :location%>
      <%= f.text_field :location%>
    </div>
    <div>
      <%= f.label :starts_at%>
      <%= f.datetime_select :starts_at, {ampm: true}, {class: "datetime"} %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>